# C++ Build Directories
build-cpp/
src-cpp/build/
src-cpp/x64/
src-cpp/CMakeFiles/
src-cpp/CMakeSettings.json
*.sln
*.vcxproj
*.filters
*.user
*.dir/

# Tauri & Rust Targets
src-ui/src-tauri/target/
src-ui/src-tauri/gen/
src-ui/src-tauri/core/
src-ui/src-tauri/lib/

# Node/Web Build & Caches
src-ui/node_modules/
src-ui/dist/
src-ui/dist-ssr/
.eslintcache

# Large Binary Assets & Models
*.onnx
*.zip
*.pth
*.pt
*.index
*.tar.gz

# IDE and OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.slnx
*.tlog/
*.recipe
